In [1]:
import json
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd

In [2]:
# scraped url with beautifulsoup
url = 'https://coinmarketcap.com/currencies/ethereum/historical-data/?start=20050314&end=20200314'

def get_page_contents(url):
    page = requests.get(url)
    return bs4.BeautifulSoup(page.text, "html.parser")

soup = get_page_contents(url)

In [3]:
# viewed the source code
#print(soup.prettify())

In [9]:
soup.find('td', {'class':'cmc-table__cell--left'})

In [10]:
soup.find('tr', {'class':'cmc-table-row'}).find_all('td')[2].text

'5,838.11'

In [3]:
# get data with html elements and attributes
dateList=[]
closeList=[]
highList=[]
lowList=[]
openList=[]
volumeList=[]
marketCapList=[]

tr = soup.find_all('tr', {'class':'cmc-table-row'})
for item in tr:
    dateList.append(item.find('td', {'class':'cmc-table__cell--left'}).text)
    closeList.append(item.find_all('td')[4].text)
    highList.append(item.find_all('td')[2].text)
    lowList.append(item.find_all('td')[3].text)
    openList.append(item.find_all('td')[1].text)
    volumeList.append(item.find_all('td')[5].text)
    marketCapList.append(item.find_all('td')[6].text)
    
# created dataframe    
ethereum = pd.DataFrame({
    'Date': dateList, 
    'Open': openList,
    'High': highList, 
    'Low': lowList, 
    'Close': closeList,
    'Volume': volumeList,
    "Market_Cap": marketCapList
})
ethereum

,Date,Open,High,Low,Close,Volume,Market_Cap
0,"Mar 13, 2020",112.69,137.43,95.18,133.20,"27,864,623,061","14,663,417,618"
1,"Mar 12, 2020",194.74,195.15,111.21,112.35,"22,134,741,655","12,366,138,225"
2,"Mar 11, 2020",200.77,202.95,184.36,194.87,"16,984,790,291","21,446,678,546"
3,"Mar 10, 2020",202.86,205.71,198.06,200.77,"18,344,930,072","22,093,126,953"
4,"Mar 09, 2020",201.32,207.45,192.27,201.99,"23,645,428,606","22,224,520,906"
...,...,...,...,...,...,...,...
1676,"Aug 11, 2015",0.708087,1.13,0.663235,1.07,"1,463,100","64,569,288"
1677,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","42,818,364"
1678,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,399,573"
1679,"Aug 08, 2015",2.79,2.80,0.714725,0.753325,"674,188","45,486,894"
1680,"Aug 07, 2015",2.83,3.54,2.52,2.77,"164,329","166,610,555"

In [4]:
# saved data as csv
df_ethereum = pd.DataFrame(ethereum)
fn = 'ethereum_history.csv'
df_ethereum.to_csv(fn)
print(fn)

ethereum_history.csv